vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|1
vti_navbuttonuplabel:SR|위로
vti_dependenciesood:IR|0
vti_webservertype:SR|diskweb
vti_categories:VR|여행 비용\\ 보고서 업무 경쟁 목적/목표 아이디어 기타 대기 VIP 진행\\ 중 계획\\ 중 일정
vti_navbuttonnextlabel:SR|다음
vti_approvallevels:VR|내용\\ 검토 법률\\ 검토 코드\\ 검토 관리자\\ 검토
vti_timecreated:TR|30 Apr 2025 12:48:33 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|뒤로
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|ks_c_5601-1987
vti_defaultlanguage:SR|ko
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|홈
